<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{normal_user/innerBase::Layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<body>
    <section>
        <div th:if="${contact}">
            <div class="card1 mr-3 ml-3" style="background-color: white;">
                <div class="card-body">
                    <div class="container">
                        <img src="" style="height: 150px; width: 130px;" class="my_profile_picture" th:src="@{'/img/' + ${contact.image}}" alt="profile photo">
                        <!--<span th:text="${contact.name}"></span>-->
                    </div>
                </div>
            </div>
            <div class="mr-3 ml-3 mt-2" style="background-color: white;">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col"><span th:text="${contact.cid}"></span></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">First Name</th>
                        <td><span th:text="${contact.name}"></span></td>
                    </tr>
                    <tr>
                        <th scope="row">Email</th>
                        <td><span th:text="${contact.email}"></span></td>
                    </tr>
                    <tr>
                        <th scope="row">Mobile</th>
                        <td><span th:text="${contact.mobile}"></span></td>
                    </tr>
                    <tr>
                        <th scope="row">Work</th>
                        <td><span th:text="${contact.mobile}"></span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="description mr-3 ml-3 mt-2" style="background-color: white;">
                <th:block th:text="${contact.description}"></th:block>
            </div>
            <div class="mr-3 ml-3 mt-3 mb-3 text-center">
                <form th:action="@{'/user/update-record/'+${contact.cid}}" method="post"> <!-- used of form tag around button work as a PostMapping -->
                    <button class="btn btn-primary btn-sm">Update</button>
                </form>
                <!--<a th:href="@{'/user/delete/'+${contact.cid}}" class="btn btn-danger btn-sm">Delete</a>-->
                <a href="#" th:onclick="deleteContact([[${contact.cid}]])" class="btn btn-danger btn-sm">Delete</a>
        </div>
        </div>
        <h3 th:unless="${contact}" class="text-center">You are unauthorized person to view this contact...!</h3>
    </section>
</body>
</html>