<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::Layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="my-card" mt-4>
                    <div  th:if="${session.message}" id="session_messageContainer" class="container mt-2" style="width: 30%; float: right; padding: 1px;">
                        <div th:classappend="${'alert-'+session.message.typeString}" class="" role="alert">
                            <span th:text="${session.message.content}"></span>
                        </div>
                    </div>

                    <!--<div th:if="${session.message}" th:classappend="${session.message.typeString}" class="alert" role="alert" style="margin-bottom: 0px;">
                        <p th:text="${session.message.content}"></p>
                       <th:block th:text="${#session.removeAttribute('message')}"></th:block>
                    </div>-->
                    <form novalidate action="" th:action="@{/do_register}" enctype="multipart/form-data" method="post" th:object="${user1}">
                        <div class="container text-center">
                            <img id="previewImg" class="mx-auto" style="width: 60px; cursor: pointer;" th:src="@{'/img/'+${user1.imageurl}}" onclick="chooseFileLocally()" />
                            <input id="fileInput" type="file" style="display: none;" name="file" onchange="previewFile()" />
                        </div>

                        <h1 class="text-center">Register Here</h1>

                        <div class="form-group">
                            <label for="user_name">User Name</label>
                            <input name="name" type="text" class="form-control" th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : ''"
                                   th:onblur="checkName(this.id)";
                                   id="user_name" aria-describedby="emailHelp" placeholder="Enter Your Name" required="required" th:value="${user1.name}">
                            <!--/* th:val="${user.name} this is an form value during submitting. */-->

                            <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
                            </div>
                        </div>
                        <input id="hiddenUserId" type="hidden" name="id" th:value="${user1.id}" />
                        <div class="form-group">
                            <label for="user_email">Email</label>
                            <input name="email" type="email" class="form-control" id="user_email" th:classappend="${#fields.hasErrors('email')} ? 'is-invalid' : ''"
                                   th:onblur="checkEmail(this.id)";
                                   aria-describedby="emailHelp" placeholder="Enter Email id" required="required" th:value="${user1.email}">

                            <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="user_password">Password</label>
                            <input name="password" type="password" class="form-control" id="user_password" th:classappend="${#fields.hasErrors('password')} ? 'is-invalid' : ''"
                                   th:onblur="checkPassword(this.id)";
                                   aria-describedby="emailHelp" placeholder="Enter a password" required="required" th:value="${user1.password}">

                            <div class="invalid-feedback" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                            </div>
                        </div>

                        <div class="form-group">
                            <textarea  name="about"  th:text="${user1.about}" placeholder="Enter About you" rows="10" class="form-control"></textarea>
                        </div>

                        <!--Terms and Conditions-->
                        <div class="form" style="display: flex; justify-content: space-between;">
                            <div>
                                <input name="terms_condition" type="checkbox" id="terms_condition" class="form-check-inp"/>
                                <label for="terms_condition">Accept Terms and Conditions</label>
                            </div>
                        </div>

                        <div class="container text-center">
                            <button type="submit" class="btn bg-primary ">
                                Update
                            </button>
                            <!--<button type="reset" class="btn bg-dark text-white">
                                Reset Password
                            </button>-->
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>