<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{normal_user/innerBase::Layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<body>
    <section>
        <div class="container">
            <div class="ml-3 mr-3 mb-3" style="display: flex; justify-content: space-between; background-color: white;">
                <img src="" style="height: 200px; width: 200px; padding: 1%;"  class="my_profile_picture" th:src="@{'/img/'+${user1.imageurl}}" alt="profile photo">
                <h1 class="text-center mr-3" th:text="${user1.name}" style="margin-top: 7%;"></h1>
            </div>
            <div class="mr-3 ml-3 mt-2" style="background-color: white;">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">User Id</th>
                        <th scope="col"><span th:text="${user1.id}"></span></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">User Name</th>
                        <td><span th:text="${user1.name}"></span></td>
                    </tr>
                    <tr>
                        <th scope="row">User Email</th>
                        <td><span th:text="${user1.email}"></span></td>
                    </tr>
                    <tr>
                        <th scope="row">User Role</th>
                        <td><span th:text="${user1.role}"></span></td>
                    </tr>
                    <tr>
                        <th scope="row">Account Status</th>
                        <td><span th:text="${user1.enabled}"></span></td>
                    </tr>
                    <tr>
                        <th scope="row">About</th>
                        <td><span th:text="${user1.about}"></span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</body>
</html>